

<div class="card-category p-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1535958636474-b021ee887b13?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80)">
  <h2><%= link_to 'Back to all beers', beers_path, class: "btn btn-ghost", style: 'color:#FFFFFF; font-size: 20px;' %></h2>
</div>

<div class="container mt-3">
  <div class="row align-items-center">
   <div class="col-4">
    <div class="card" style="width: 18rem; background: none; border: none">
      <div  class="card-img-top row align-items-center">
      <%= cl_image_tag @beer.photo.key, height: 300%>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= @beer.name %></h5>
        <p class="card-text"><%= @beer.description.capitalize %></p>
        <h5 class="card-trip-pricing">£<%= @beer.price %></h5>
      </div>
      <div class="card-body row align-items-center">
        <%= link_to 'Add to bag', new_order_path(beer: @beer), class: "btn btn-ghost"%>
      </div>
    </div>
    </div>

     <div class="col-8">
    <h2>Specifications</h2>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Style</th>
          <td>Lager</td>
        </tr>
        <tr>
          <th scope="row">Country</th>
          <td><%= Faker::Address.country  %></td>
        </tr>
        <tr>
          <th scope="row">Brewery</th>
          <td><%= @beer.name %></td>
        </tr>
        <tr>
          <th scope="row">ABV</th>
          <td><%= rand(3..9) %>%</td>
        </tr>
        <tr>
          <th scope="row">Bottle size</th>
          <td><%= rand(5..8) %>cl</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
