<h2><%= @beer.name %></h2>
<h3><%= @beer.description %></h3>
<h4><%= @beer.price %></h4>
<%= link_to 'Back to Index', beers_path %>

<%= link_to 'Add to order', beer_orders_path(@beer), data: { turbo_method: :post } %>
<%#= link_to 'Add to order', root_path %>

<%# <%= render 'submit_beer', beer: @beer, order:@order %>
