<h2><%= @beer.name %></h2>
<h3><%= @beer.description %></h3>
<h4><%= @beer.price %></h4>
<%= cl_image_tag @beer.photo.key, height: 300, width: 400, crop: :fill %>
<%= link_to 'Back to Index', beers_path %>

<%= link_to 'Add to basket', new_order_path(beer: @beer) %>
